
**/node_modules
**/dist
**/.next
**/bin
**/obj
**/out

.git
.gitignore
.nx
.idea
.vscode


**/.env*
! .env           

**/*.log
.DS_Store

**/bin/
**/obj/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.db-shm
**/*.db-wal

**/TestResults/
**/publish/